
$title-screen-font-size: 500px;
$title-screen-font-color: blue;
$title-screen-font-border-color: black;
$title-screen-background: url('@/config/client/assets/my-bg.png');

.chat {
    bottom: 61px;
}